:root {
    --background-color: pink;
    --font-size: 23px;
    --font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

a {
    text-decoration: none;
    cursor: pointer;
}

body {
    background-color: var(--background-color);
    justify-content: center;
    text-align: center;
}

p {
    font-size: var(--font-size);
    font-family: var(--font-family);
    color: black;
}

.banner {
    background-color: rgba(247, 255, 250, 0.568);
    display: flex;
    justify-content: center;
    gap: 30px;
    border: 2px solid black;
    border-radius: 20px;

}

.good {
    font-size: xx-large;
    color: rgb(214, 26, 57);
    font-style: italic;

}

.picture {
    flex-direction: row;
    display: flex;

}


@media(min-width:320px) and (max-width:475px) {
    body {
        justify-content: center;
        align-items: center;
        text-align: center;
    }


    .banner {
        border: 50%;
        flex-direction: column;

        p {
            display: none;
        }
    }

    .banner:hover {
        p {
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
        }
    }

    ;

    section {
        text-align: center;

    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    img {
        width: 200px;
        height: 200px;

    }

}

@media(min-width:426px) and (max-width:768px) {
    body {
        justify-content: center;
        align-items: center;
        text-align: center;
    }


    .banner {
        border: 50%;
        flex-direction: column;

        p {
            display: none;
        }
    }

    .banner:hover {
        p {
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
        }
    }

    ;

    section {
        text-align: center;

    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    img {
        width: 200px;
        height: 200px;

    }


}