:root {
    --background-color: pink;
    --font-size: 23px;
    --font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}



body {
    background-color: var(--background-color);
    justify-content: center;
    text-align: center;
}

p {
    font-size: var(--font-size);
    font-family: var(--font-family);
    color: black;
    text-decoration: none;
}

.banner {
    background-color: rgba(247, 255, 250, 0.568);
    display: flex;
    justify-content: center;
    gap: 30px;
    border: 2px solid black;
    text-decoration: none;
    border-radius: 20px;

}

.good {
    font-size: xx-large;
    color: rgb(214, 26, 57);
    font-style: italic;

}

.Menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;




}

.Promo {
    background-color: rgb(214, 26, 57);
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
    color: white;
    border-radius: 5px;
}

.Promo p {
    margin: 0;
    font-weight: bold;
}

.box {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    border: 2px solid black;
    flex-wrap: wrap;
    transition-property: all;
    transition-duration: 2s;
    transform-style: ease;

}

a {
    text-decoration: none;
    cursor: pointer;
}

.box:hover {
    color: white;
    background-color: rgb(255, 255, 255);
    transform: scale(2);
}

@media(min-width:320px) and (max-width:475px) {
    main {
        text-align: center;
        justify-content: center;
    }

    footer {
        text-align: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    .banner {
        border: 50%;
        flex-direction: column;

        p {
            display: none;
        }
    }

    .banner:hover {
        p {
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
        }
    }

    .Menu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .box {
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .Promo {
        font-size: small;
        width: fit-content;
        height: 200px;
    }



}


@media(min-width:426px) and (max-width:768px) {
    main {
        text-align: center;
        justify-content: center;
    }

    footer {
        text-align: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    .banner {
        border: 50%;
        flex-direction: column;

        p {
            display: none;
        }
    }

    .banner:hover {
        p {
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
        }
    }

    .Menu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .box {
        justify-content: center;
        text-align: center;
        align-items: center;

    }

    .Promo {
        font-size: small;
        width: fit-content;
        height: 200px;
    }



}